<style>
* {
	margin: 0px;
	padding: 0px;
}
#container {
    width: 100%;
    display: inline-block;
}
#study {
    width: 50%;
    height: 300px;
    background-color: purple;
    display: inline-block;
}
#travel {
    width: 49%;
    height: 300px;
    background-color: gray;
    display: inline-block;
}
#errands {
    width: 50%;
    height: 300px;
    background-color: green;
    display: inline-block;
}
#shopping {
    width: 49%;
    height: 300px;
    background-color: yellow;
    display: inline-block;
}
#special {
    width: 50%;
    height: 300px;
    background-color: orange;
    display: inline-block;
}
#work {
    width: 49%;
    height: 300px;
    background-color: blue;
    display: inline-block;
}
</style>


<div id="container">
		<div id="study">
			STUDY
		</div>
		<div id="travel">
			TRAVEL
		</div>
		<div id="errands">
			ERRANDS
		</div>
		<div id="shopping">
			SHOPPING
		</div>
		<div id="special">
			SPECIAL
		</div>
		<div id="work">
			WORK
		</div>
</div>