
<link rel="stylesheet" type="text/css" href="/assets/home_view_style.css">
</head>
<body>

<div class="container">
    <div class="row">
<!--         <form action="/Users/process_register" method="POST">
            <div class="col-md-4 col-md-offset-1">
                <div id = "errors">
                </div>
            	<legend><h3 class="header">Register</h3></legend>
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control" name="last_name" id="alias" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="example@domain.com">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    <p>* Password should be at least 8 characters</p>
                </div>
                <div class="form-group">
                    <label for="passwordconf">Confirm Password:</label>
                    <input type="password" class="form-control" name="passwordconf" id="passwordconf" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                    <label for="birthday">Date of Birth:</label>
                    <input type="date" class="form-control" name="birthday" id="birthday" placeholder="Birthday">
                </div>
                <input type="submit" class="btn btn-secondary" id="register_email" value="Register">
            </div>
       	</form> -->
        <form action="/" method="POST">
            <div class="col-md-4 col-md-offset-1">
            	<legend><h3 class="header">Please Login</h3></legend>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="example@domain.com">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <input type="submit" class="btn btn-secondary" id="login_email" name="login_email" value="Sign In">
            </div>
        </form>
    </div>
</div>


</body>
</html>