/*All css regarding colors will change based on category chosen*/
* {
    padding: 0px;
    margin: 0px;
}
img {
    width: 100%;
    position:absolute;
}
a, a:active, a:hover {
    color: white;
    text-decoration: none;
}
label{
	color:#15509C;
	font-size: 1.125em;
	font-family:'Helvetica';
}

select{

}


option:not(:checked){
	background-color: white(#15509C);
}

option:checked{
	background-color:#15509C;
	color:white;
}

.form-control{
	border-radius:0px;
	border-color:#15509C;
	border-width:1px;
}

.form-control:focus{
	/*This will change based on category of task*/
}

.form-group{
	border-width:0.5px;
}
.btn.outline {
    background: none;
    padding: 5px 15px;
    border-radius:0px;
}
.btn-primary.outline {
    border: 1px solid #15509C;
    color: #15509C;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: white;
    background-color: #15509C;
    border-color: #15509C;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #15509C;
    box-shadow: none;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 20px;
    height: 100px;
    padding-top: 0;
}

/***********************
  CUSTON BTN VALUES
************************/

#login_button {
    margin: 20px 10px;
    border-radius: 40px;
}

#register_button {
    margin: 20px 30px 20px 10px;
    border-radius: 40px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}


#partial{
    background-color:white;
    padding-top:20px;
}

.links, .links:hover{
    color:#15509C;
}

#maintable{
    width:100%;
    align-content: center;
    font-size:1em;
    opacity:70%;
    border-collapse: separate;
    border-spacing: .5em 2em;
}

td{
    margin:10px;
    background: rgb(51, 122, 183); /* Fall-back for browsers that don't support rgba */
    background: rgba(51, 122, 183, .7);
    border-color:#15509C;
    border-width:2px;
    border-style:solid solid solid solid;
    padding:2.5px;
    color:white;
}

#edit_button{
    height:2em;
    padding:10px;
}
#delete_button{
    height:2em;
    padding:10px;
}
.Errandstable{
    background: rgb(0, 128, 0); /* Fall-back for browsers that don't support rgba */
    background: rgba(0, 128, 0, .7);
}
.Worktable{
    background: rgb(51, 122, 183); /* Fall-back for browsers that don't support rgba */
    background: rgba(51, 122, 183, .7);
}
.Traveltable{
    background: rgb(128, 128, 128); /* Fall-back for browsers that don't support rgba */
    background: rgba(128, 128, 128, .7);
}
.Shoppingtable{
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .7);
}
.Specialtable{
    background: rgb(255, 165, 0); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 165, 0, .7);
}
.Studytable{
    background: rgb(128, 0, 128); /* Fall-back for browsers that don't support rgba */
    background: rgba(128, 0, 128, .7);
}