/*All css regarding colors will change based on category chosen*/

label{
	color:#3870BA;
	font-size: 18px;
	font-family:'Helvetica';
}

select{

}

option:not(:checked){
	background-color: white(#3870BA);
}

option:checked{
	background-color:#3870BA;
	color:white;
}

.form-control{
	border-radius:0px;
	border-color:#3870BA;
	border-width:1px;
}

.form-control:focus{
	/*This will change based on category of task*/
}

.form-group{
	border-width:0.5px;
}

.btn.outline {
    background: none;
    padding: 5px 15px;
    border-radius:0px;
}
.btn-primary.outline {
    border: 1px solid #3870BA;
    color: #3870BA;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: white;
    background-color: #3870BA;
    border-color: #3870BA;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #3870BA;
    color: #3870BA;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}